---
- name: Instalación de dependencias
  apt:
    name: ['python-passlib', 'wget', 'build-essential', 'unzip', 'openssl', 'libssl-dev', 'apache2', 'php', 'libapache2-mod-php', 'php-gd', 'libgd-dev']
    state: latest
    update_cache: yes

- name: Configurar timezone para Buenos_Aires
  timezone:
    name: America/Argentina/Buenos_Aires

- name: Crear grupo nagcmd
  group:
    name: "{{ grupo }}"
    state: present

- name: Crear usuario nagios
  user:
    name: "{{ usuario }}"
    password: "{{ password | password_hash('sha512') }}"
    groups: "{{ grupo }}"
    shell: /bin/bash
    update_password: on_create       
    
- name: Agregar el usuario www-data al grupo nagcmd
  user:
    name: "{{ apache }}"
    groups: "{{ grupo }}"
    state: present

- name: Descargar Nagios
  get_url:
    url: "https://assets.nagios.com/downloads/nagioscore/releases/nagios-{{ version }}.tar.gz"
    dest: "/tmp/nagios-{{ version }}.tar.gz"

- name: Descargar plugins para Nagios 
  get_url:
    url: "https://nagios-plugins.org/download/nagios-plugins-{{ version_plugins }}.tar.gz"
    dest: "/tmp/nagios-plugins-{{ version_plugins }}.tar.gz"
    

- name: Descomprimir archivos
  unarchive:
    src: "/tmp/nagios-{{ version }}.tar.gz"
    dest: /tmp/
    remote_src: yes  

- name: Descomprimir plugins
  unarchive:
    src: "/tmp/nagios-plugins-{{ version_plugins }}.tar.gz"
    dest: /tmp/
    remote_src: yes

- name: Configurar Nagios
  shell: "{{ item }}"
  with_items:
    - "./configure -with-command-group={{ grupo }}"      
    - make all
    - make install
    - make install-init
    - make install-commandmode
    - make install-config
    - make install-webconf     
  args:
    chdir: "/tmp/nagios-{{ version }}/"

- name: Configurar plugins
  shell: "{{ item }}"
  with_items:
    - "./configure --with-nagios-user={{ usuario }} --with-nagios-group={{ usuario }}"      
    - make
    - make install
  args:
    chdir: "/tmp/nagios-plugins-{{ version_plugins }}"

- name: Configurar contraseña para el usuario web
  htpasswd:
    path: /usr/local/nagios/etc/htpasswd.users
    name: nagiosadmin
    password: "{{ password }}"

- name: Crea el directorio para los archivos de configuración 
  file:
    path: "/usr/local/nagios/etc/objects/{{ carpeta_config }}"
    state: directory
    mode: 0775
    owner: "{{ usuario }}"
    group: "{{ usuario }}" 

- name: Agrega linea en nagios.cfg 
  lineinfile:
    path: "/usr/local/nagios/etc/nagios.cfg"
    line: "cfg_dir=/usr/local/nagios/etc/objects/{{ carpeta_config }}"
    state: present

- name: Copia archivos con lista de hosts
  copy:
    src: "{{ item }}"
    dest: "/usr/local/nagios/etc/objects/{{ carpeta_config }}"
    owner: "{{ usuario }}"
    group: "{{ usuario }}"
    mode: 0775
  with_items:
    - hostgroups.cfg
    - hosts.cfg
          
- name: Iniciar servicio Nagios
  service:
    name: nagios
    state: started
    enabled: yes
  notify:
    - servicios  
